.title{
    margin: 3rem 8rem;
}

.content{
    margin: 1rem 12rem 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15pt;
    line-height: 23pt;
    text-align: justify;
}